<template>
	<view class="pages">
		<u-notice-bar mode="horizontal" :is-circular="false" :list="list"></u-notice-bar>
		<!-- <view > -->
			<view class="boxs">
				<view class="oldBox u-flex-y">
					<view class="">绑定当前手机号</view>
					<view class="title">{{userInfo.consumer_mobile | encryptPhone}}</view>
				</view>
				<u-form :model="form" ref="uForm" label-width="150">
					<!-- <u-form-item label="已绑号码"> 
						<text>{{userInfo.consumer_mobile | encryptPhone}}</text>
					</u-form-item> -->

					<u-form-item label="新手机号" prop="nowmobile">
						<u-input v-model="form.nowmobile" placeholder="请输入新的手机号码" type="number" />
					</u-form-item>
					<u-form-item label="验证码" prop="vilidate">
						<u-input v-model="form.vilidate" />
						<view slot="right">
							<u-button size="mini" slot="right" shape="circle" type="primary" @click="getCode">{{codeText}}</u-button>
						</view>
					</u-form-item>
				</u-form>
			</view>
			<u-verification-code ref="uCode" @change="codeChange"></u-verification-code>
		<!-- </view> -->
		<view style="margin-top: 72rpx;padding: 0 20rpx;">
			<u-button shape="circle" @click="submit" :custom-style="{width:'100%'}"   type="primary">立即绑定</u-button>
		</view>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	
	
		import Utils from '@/common/utils.js';
	export default {
		data() {
			return {
				form: {
					"mobile": "",
					"nowmobile":'',
					"vilidate": "",
				},
				
				code: '',
				codeText: '',
				list: ['为了您的账户安全，将对现有手机号码验证'],
				rules: {
					nowmobile: [{
							required: true,
							message: '请输入电话',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							validator: (rule, value, callback) => {
								return this.$u.test.mobile(value);
							},
							message: '请输入正确的电话号码',
							trigger: ['blur'],
						}
					],
					vilidate: [{
						required: true,
						min: 6,
						max: 6,
						message: '请输入6位验证码',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}]

				}
			}
		},
		onReady() {
			// this.$refs.uForm.setRules(this.rules);
			this.form.mobile = this.userInfo.consumer_mobile
		},
		filters: {
			encryptPhone(val) {
				return val.replace(/(\d{3})\d*(\d{4})/, "$1 **** $2")
			}
		},
		methods: {
			submit() {

				let that = this
				this.$refs.uForm.validate(async valid => {
					if (valid) {

						try {
							that.$ui.showloading()
							let res = await that.$api.Auth.BindConsumerMobile(that.form);
							that.$ui.hideloading()
							that.$store.dispatch('app/refreshUser');
							that.$refs.uToast.show({
								title: '修改成功',
								type: 'success',
								position: 'bottom',
								back: true
							})
						} catch (err) {
							console.log('请求结果false : ' + err)

						}

					} else {
						console.log('验证失败');
					}
				});
			},
			codeChange(text) {
				this.codeText = text;
			},
			async getCode() {
				let that = this
				if (!this.form.nowmobile || !Utils.phoneCheck(this.form.nowmobile)) {
					// this.$ui.toast('请输入正确的手机号码')
					this.$refs.uToast.show({
						title: '请输入正确的手机号码',
						type: 'warning',
						position: 'bottom'
					})
					return;
				}
				if (this.$refs.uCode.canGetCode) {
					// 模拟向后端请求验证码
					uni.showLoading({
						title: '正在获取验证码'
					})

					let data = {
						mobile: this.form.nowmobile,
						type: 9 //1-注册 2-登陆 3-找回密码 6-修改支付密码 9-修改手机号
					};
					try {
						let res = await this.$api.Auth.getVerificateCode(data);

						that.$refs.uCode.start();
						uni.hideLoading();
						that.$refs.uCode.start();
						that.$refs.uTips.show({
							title: '验证码发送成功',
							type: 'success',
							duration: '1000'
						})
					} catch (err) {
						console.log('请求结果false : ' + err)

					}

				} else {
					this.$u.toast('倒计时结束后再发送');
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.oldBox{
			width: 100%;
			height: 235rpx;
			margin-bottom: 16rpx;
			.title{
				font-size: 44rpx;
			}
		}
		.boxs {
			background-color: #fff;
			// border-radius: 12rpx;
			padding: 0 20rpx;
		}
	}
</style>
