<template>
	<view class="pages" v-if="detail">
		<view class="u-flex tabsBox" v-if="detail.status!=0">
			<view class=" tabs" 
				@click="checkHT"
				
				>
				租车合同
			</view>
			<view class=" tabs"
				v-if="detail.status>3"
				@click="_href(`/pages/center/checkReport/checkReport?check_type=0&order_code=${order_code}`)">
				取车验车单
			</view>
			<view class=" tabs"
			v-if="detail.status>4"
				@click="_href(`/pages/center/checkReport/checkReport?check_type=1&order_code=${order_code}`)">
				还车验车单
			</view>
			<view class=" tabs" @click="_href('/pages/center/violation/violation')">
				违章记录
			</view>
		</view>
		<view class="statusBox u-flex-y">
			<view class="cm_title title">{{detail.status | order_statusFilter}}{{detail.status==5 ? `(${detail.is_refund==1?'已退款':'待退款'})`:''}}</view>
			<text>{{detail.status_text}}</text>
		</view>
		<view class="cm_boxs" style="margin-top: -10rpx;">

			<view class="u-flex">
				<image :src="detail.car_main_img" mode="aspectFill" class="carPics"></image>
				<view>
					<text class="title">{{detail.car_name}}</text>
					<view class="cm_time" style="margin-top: 10rpx;">{{detail.describe}}</view>
				</view>

				<view class="f1"></view>
			</view>
			<view class="redBoxs" v-if="detail.auto_get_address || detail.auto_still_address">

				<view class="u-flex" v-if="detail.auto_get_address">
					<text class="labels" style="color: #EE7F48;">一键取车</text>
					<view class="f1" style="color: #EE7F48;">
						{{detail.auto_get_address}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;" v-if="detail.auto_still_address"> </view>
				<view class="u-flex" v-if="detail.auto_still_address">
					<text class="labels" style="color: #EE7F48;">一键还车</text>
					<view class="f1" style="color: #EE7F48;">
						{{detail.auto_still_address}}
					</view>
				</view>
			</view>

			<view class="grayBoxs">
				<view class="u-flex" v-if="!detail.auto_get_address">
					<text class="labels">取车地点</text>
					<view class="f1">
						{{detail.get_car_add}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"  v-if="!detail.auto_get_address"> </view>
				<view class="u-flex"  v-if="!detail.auto_still_address">
					<text class="labels">还车地点</text>
					<view class="f1">
						{{detail.still_car_add}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"  v-if="!detail.auto_still_address"> </view>
				<view class="u-flex">
					<text class="labels">开始用车</text>
					<view class="f1">
						{{detail.begin_time}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">结束用车</text>
					<view class="f1">
						{{detail.end_time}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">用车天数</text>
					<view class="f1">
						{{detail.use_car_day}}天
					</view>
				</view>
				<!-- <view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">用车时间</text>
					<view class="f1">
						{{detail.begin_time}}-{{detail.end_time}}（{{detail.use_car_day}}天）
					</view>
				</view> -->
			</view>


		</view>

		<view class="cm_boxs u-flex" @click="_call(detail.service_mobile)">
			<image src="../../../static/images/dd_kf.png" mode="aspectFill" class="icons"></image>
			<text>联系商家</text>
		</view>

		<view class="cm_boxs feeBox">

			<view class="cm_title">费用明细</view>

			<view class="rows u-flex  ">
				<view class="label">租车费用</view>
				<view class="f1"></view>
				<view class="labelright">￥{{detail.lease_price}}</view>
			</view>
			<view class="rows u-flex  ">
				<view class="label">基本服务费<u-icon name="question-circle" color="#999" size="28"
						style="margin-left: 10rpx;"></u-icon>
				</view>

				<view class="f1"></view>
				<view class="labelright">￥{{detail.service_price}}</view>
			</view>
			<view class="rows u-flex  ">
				<view class="label">手续费<u-icon name="question-circle" color="#999" size="28"
						style="margin-left: 10rpx;"></u-icon>
				</view>

				<view class="f1"></view>
				<view class="labelright">￥{{detail.deposit_price}}</view>
			</view>
			<view class="rows u-flex  ">
				<view class="label">车辆押金<u-icon name="question-circle" color="#999" size="28"
						style="margin-left: 10rpx;"></u-icon>
				</view>
				<text class="cm_text">还车结算后退款或解冻</text>
				<view class="f1"></view>
				<view class="labelright">￥{{detail.agent_price}}</view>
			</view>
			<view class="rows rowsBot u-flex">
				<view class="f1"></view>
				<text class="cm_time">合计</text>
				<Text class="cm_price_tip">{{detail.sum_price}}</Text>
			</view>
		</view>
		<view class="cm_boxs orderBox">

			<view class="cm_title">承租人信息</view>

			<view class="rows u-flex  ">
				<view class="label">承租人</view>
				<view class="f1">{{detail.lessee_name|| '本人'}}</view>
			</view>
			<view class="rows u-flex  " v-if="detail.lease_mobile">
				<view class="label">联系方式</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.lease_mobile}}</view>
				<u-button shape="circle" size="mini" @click="_call(detail.lease_mobile)" type="default">
					致电</u-button>
			</view>
		</view>

		<view class="cm_boxs orderBox">

			<view class="cm_title">订单信息</view>

			<view class="rows u-flex  ">
				<view class="label">订单编号</view>
				<view class="f1">{{detail.order_code}}</view>
			</view>
			<view class="rows u-flex  ">
				<view class="label">创建时间</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.create_time}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">支付时间</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.pay_time}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">支付方式</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">微信支付</view>
				<!-- <view class="label">￥320</view> -->
			</view>
		</view>

		<view class="footer saveBottom">

			<view class="flex footerBar">
				<view class="f1"></view>
				<u-button shape="circle" class="btns" @click="cancel" type="default">
					取消订单</u-button>
				<u-button shape="circle" v-if="detail.status==0" class="btns" @click="payNow" type="primary">
					立即付款</u-button>
				<u-button shape="circle" v-if="detail.status==1" class="btns" @click="getCar(detail)" type="primary">
					一键取车</u-button>
				<u-button shape="circle" v-if="detail.status==3" class="btns" @click="backCar(detail)" type="primary">
					一键还车</u-button>
				<u-button shape="circle" v-if="detail.status!=0 && detail.status<5" class="btns" @click="refund"
					type="default">
					申请退款</u-button>
			</view>


		</view>
		<u-toast ref="uToast" />
		<WxPay :price="detail.sum_price" :order="order_code" @success="loadData" ref="wxPay" />
		<AutoAddress :rentStartAddress="detail.get_car_add" :rentEndAddress="detail.still_car_add"
			:orderCode="detail.order_code" @success="submit" @cancel="cancel" ref="autoAddress" />
			
			<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
	</view>
</template>

<script>
	import WxPay from '@/components/wxpay.vue'

	import AutoAddress from '@/components/autoAddress.vue'
	import {
		mapState
	} from 'vuex'
	export default {
		data() {
			return {
				detail: null,
				order_code: ''
			};
		},
		components: {
			WxPay,
			AutoAddress
		},
		onLoad(options) {
			this.order_code = options.order_code
			this.loadData()

			let that = this
			uni.$on('tripDetail_refresh', () => {
				that.loadData()
			})
			// this.$store.dispatch('rent/getServeSite',{})
		},
		onPullDownRefresh(){
			this.loadData(()=>{
				uni.stopPullDownRefresh()
			})	
		},
		methods: {
			// 查看合同
			checkHT(){
				if(!this.detail.order_contract){
						this.$refs.uTips.show({
							title: '尚未生成合同',
							type: 'error',
							duration: '1000'
						})
					return 
				}
				uni.downloadFile({
				  url: this.detail.order_contract,
				  success: function (res) {
				    let filePath = res.tempFilePath;
				    uni.openDocument({
				      filePath: filePath,
				      success: function (res) {
				        console.log('打开文档成功');
				      }
				    });
				  }
				});
			},
			payNow() {
				this.$refs.wxPay._show()
			},
			// 一键还车
			backCar(item) {
				// uni.navigateTo({
				// 	url: `/pages/center/getAndBack/getAndBack?type=1&order_code=${item.order_code}`
				// })

				this.$refs.autoAddress._show(1)
			},
			// 一键取车
			getCar(item) {
				// uni.navigateTo({
				// 	url: `/pages/center/getAndBack/getAndBack?type=0&order_code=${item.order_code}`
				// })
				this.$refs.autoAddress._show()
			},
			async loadData(callback) {
				// debugger
				this.$ui.showloading()
				try {

					const res = await this.$api.Business.GetOrderDetail({
						order_code: this.order_code
					})
					// debugger
					console.log(res)
					this.detail = res
				} catch (e) {
					//TODO handle the exception
					console.log(e)
					// debugger
				}
				this.$ui.hideloading()
				if(callback)callback()
			},
			cancel() {},
			submit() {
				uni.$emit('myTrips')
				this.loadData()
			},
			async refund() {
				let that = this
				uni.showModal({
					title: '温馨提示',
					content: '确认发起退款?',
					success(res) {
						if (res.confirm) {
							that.doRefund()
						}
					}
				})
			},
			async doRefund() {

				this.$ui.showloading()
				try {

					const res = await this.$api.Business.OrderRefund({
						order_code: this.detail.order_code
					})
					this.$ui.hideloading()

					this.$refs.uToast.show({
						title: '申请退款成功',
						type: 'success',
						position: 'bottom',
						callback() {
							that.loadData()
							uni.$emi('myTrips')
						}
					})

				} catch (e) {
					this.$ui.hideloading()
					console.log(e)
					// debugger
				}
				
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 180rpx;


		.tabsBox {
			justify-content: space-around;
			background-color: #fff;
			padding: 24rpx 20rpx;
			
			.tabs {
				// width: 162rpx;
				flex:1;
				margin:  0 10rpx;
				height: 110rpx;
				border-radius: 8rpx;
				background-color: #f1f2f3;
				// line-height: 110rpx;
				text-align: center;
				padding: 20rpx;
				align-items: center;
				    display: flex;
					justify-content:center
			}
		}

		.statusBox {
			width: 100%;
			height: 164rpx;
			color: #fff;
			padding: 0 30rpx;
			background-color: #EE7F48;
			align-items: flex-start;

			.title {
				color: #fff;
				margin-bottom: 12rpx;
				font-size: 34rpx;
			}
		}

		.redBoxs {
			margin-top: 32rpx;
			background-color: #fffdfa;
			padding: 30rpx;
			border-radius: 12rpx;
			font-size: 26rpx;

			.labels {
				color: #666;
				width: 164rpx;
				font-weight: 600;
				text-align: left;
			}
		}

		.grayBoxs {
			margin-top: 32rpx;
			background-color: #f5f5f5;
			padding: 30rpx;
			border-radius: 12rpx;
			font-size: 26rpx;

			.labels {
				color: #666;
				width: 164rpx;
				text-align: left;
			}
		}

		.carPics {
			width: 252rpx;
			height: 142rpx;
			margin-right: 42rpx;
		}

		.feeBox {
			// flex-wrap: wrap;

			.label {
				color: #666;
				width: 200rpx;
				text-align: left;
			}

			.labelright {

				color: #666;
			}
		}

		.orderBox {
			// flex-wrap: wrap;

			.label {
				color: #666;
				width: 164rpx;
				text-align: left;
			}
		}

		.icons {
			width: 46rpx;
			height: 46rpx;
			margin-right: 16rpx;
		}

		.rows {
			line-height: 80rpx;
		}

		.rowsBot {
			border-top: 1rpx solid #f8f8f8;
			padding-top: 16rpx;
			margin-top: 16rpx
		}

		.label {
			font-weight: 400;
			font-size: 26rpx;
			color: #333;
		}


		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #fff;
			z-index: 5;
			.footerBar {
				padding: 16rpx 20rpx;
			}

			.btns {
				margin-left: 16rpx;
			}
		}
	}
</style>
