<template>
	<view class="pages">
		<!-- <view class="header u-flex-y">
			<u-avatar src="../../../static/img/logo.jpg" :size="180"></u-avatar>
		</view> -->
		<view>
			<u-cell-group>
				<u-cell-item  title="如何预约车辆？" :arrow="false" value="1.1" :border-bottom="true">
					
				</u-cell-item>
				<u-cell-item  title="如何买车？" arrow-direction="right" :border-bottom="true" @click="_href('/pages/features/article/article')">
					
				</u-cell-item>
				<u-cell-item  title="如何开具发票？" arrow-direction="right" :border-bottom="false" @click="_href('/pages/features/article/article')">
					
				</u-cell-item>
			</u-cell-group>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		},
		onLoad(){
			this._loadText()
		},
		methods:{
			async _loadText(){
				let that = this;
				try {
					// this.$ui.showloading();
					let data = {
						type: 0
					}
					let res = await this.$api.Guide(data, false);
					// this.$ui.hideloading();
				
					// console.log(res)
					if (res.Success) {
						uni.setStorageSync('ys',res.Data.Value)
						// that.item = res.Data;
					} else {
						that.$ui.toast(res.Msg)
					}
				
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			}
		}
		
	}
</script>

<style lang="scss" scoped>
	.pages{
		.header{
			width: 100vw;
			height: 310rpx;
		}
	}
</style>
