<template>
	<view class="pages">
		是防守打法啥的啥的
		<u-button shape="circle" class="btns" @click="_nav" type="primary">
			下载租车合同</u-button>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="scss" scoped>
	.pages{
		padding: 20rpx;
	}
</style>
