<template>
	<view>
		<u-popup v-model="show" mode="bottom" border-radius="14">
			<view class="payBox">
				<view class="payHeader u-flex">
					<text>租车选项</text>
					<view class="f1"></view>
					<u-checkbox-group>
						<u-checkbox v-model="checked" shape="circle" active-color="#EE7F48">{{type==1?' 一键还车':'一键取车'}}
						</u-checkbox>
					</u-checkbox-group>
				</view>
				<view class="payContent flex flex-y">
					<u-loading mode="circle" :size="40" v-if="loading"></u-loading>
					<view v-else style="width: 100%;">
						<!-- <view></view> -->
						<view class="formItems">
							<view class="formContent u-flex">
								<view class="formLabal">取车地点</view>
								<view class="formContent f1">{{rentStartAddress?rentStartAddress :'未选择'}}
								</view>

							</view>
							<view class="u-flex" v-if="type==0 &&checked" style="width: 100%;margin-bottom: 20rpx;">
								<view class="formContent autoformContent f1 u-flex  animated fadeIn" @click="_choose">
									<view class="formLabal" style="color: #EE7F48;">上门取车</view>
									<view class="formContent cm_des f1">
										{{autoRentStartAddress?autoRentStartAddress.area_detail:'请选择'}}
									</view>
									<u-icon name="arrow-right" color="#EE7F48" size="28"></u-icon>
								</view>
								<view class="actionLocation u-flex u-flex-y" @click="_choosePos">
									<u-icon name="map-fill" color="#EE7F48" size="40"></u-icon>
								</view>
							</view>

							<view class="line"></view>
						</view>

						<view class="formItems">
							<view class="formContent u-flex">
								<view class="formLabal">还车地点</view>
								<view class="formContent f1">{{rentEndAddress?rentEndAddress: '未选择' }}
								</view>
							</view>
							<view class="u-flex" v-if="type==1 && checked" style="width: 100%;margin-bottom: 20rpx;">
								<view class="formContent autoformContent f1 u-flex  animated fadeIn" @click="_choose">
									<view class="formLabal" style="color: #EE7F48;">上门还车</view>
									<view class="formContent cm_des f1">
										{{autoRentEndAddress?autoRentEndAddress.area_detail:'请选择'}}
									</view>
									<u-icon name="arrow-right" color="#EE7F48" size="28"></u-icon>
								</view>
								<view class="actionLocation u-flex u-flex-y" @click="_choosePos">
									<u-icon name="map-fill" color="#EE7F48" size="40"></u-icon>
								</view>
							</view>
						</view>

					</view>

				</view>

				<view class="footer saveBottom">
					<view class="flex">
						<view class="actions u-flex-y">
							<image src="../../../static/images/sy_xx.png" mode="aspectFill" class="icons"></image>
							<text class="cm_time">客服</text>
						</view>
						<view class="f1" style="padding-right: 30rpx;">
							<u-button @click="submit" shape="circle" class="f1" type="primary">
								{{orderCode?`一键${type==1?'还':'取'}车`:'预约车辆'}}
							</u-button>
						</view>

					</view>
				</view>
			</view>
		</u-popup>
		<u-toast ref="uToast" />
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-action-sheet :list="list" v-model="sheet" @click="_seleteAddress"></u-action-sheet>
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	export default {
		name: "wxpay",
		data() {
			return {
				show: false,
				active: -1,
				checked: 0,
				loading: true,
				list: [],
				sheet: false,
				type: 0 //0  取车  1 还车
			};
		},
		props: {

			// location: {
			// 	type: Object,
			// 	default: null
			// },
			rentStartAddress: {
				type: String,
				default: null
			},
			rentEndAddress: {
				type: String,
				default: null
			},
			// autoRentStartAddress: {
			// 	type: String,
			// 	default: ''
			// },
			orderCode: {
				type: String,
				default: ''
			}
		},
		watch: {
			// autoRentStartAddress(n, o){
			// 	console.log('n',n)
			// },
			price(n, o) {
				// debugger
				if (n) {
					this.ifFirst();
				}
			}
		},
		computed: {
			...mapState({
				// 箭头函数使代码更简练 
				// rentStartAddress: state => state.rent.rentStartAddress,
				// rentEndAddress: state => state.rent.rentEndAddress,
				location: state => state.rent.location,
				autoRentStartAddress: state => state.rent.autoRentStartAddress,
				autoRentEndAddress: state => state.rent.autoRentEndAddress,
			})
		},
		created() {
			this._history()
			let that = this

			uni.$on('selectLocation', (pos) => {
				// console.log('pos',pos)
				const {
					location,
					address
				} = pos
				let l = location.split(',')
				let data = {}
				data.latitude = l[1]
				data.longitude = l[0]
				data.area_detail = address
				data.auto_get_address = ''

				// debugger
				if (that.type == 1) {
					that.$store.commit('rent/save_autoRentEndAddress', data)
				} else {
					that.$store.commit('rent/save_autoRentStartAddress', data)
				}

				// this.form.is_root = is_root?1:0
			})
		},
		onUnload() {
			uni.$off('selectLocation')
		},
		methods: {
			_hide() {
				this.show = false
			},
			_show(type = 0) {
				this.type = type
				this.show = true
				if (type == 0 && this.autoRentStartAddress) {
					this.checked = true
				}

			},

			// 选择地址
			_choose() {
				if (!this.list || this.list.length == 0) {
					// 直接选址定位
					this._choosePos()
				} else {
					this.sheet = true
				}
			},
			// 选址回调
			_seleteAddress(index) {
				// debugger
				let dis = `rent/${this.type==0?'save_autoRentStartAddress':'save_autoRentEndAddress'}`
				this.$store.commit(dis, {
					longitude: '',
					latitude: '',
					area_detail: this.list[index].text,
					auto_get_address: this.list[index].value
				})
			},
			// 选择定位地址
			_choosePos() {
				uni.navigateTo({
					url: '/pages/features/mapLocation/mapLocation'
				})
				// let that = this
				// let data = {}
				// if (this.location && this.location.longitude && this.location.latitude) {
				// 	data = {
				// 		longitude: this.location.longitude,
				// 		latitude: this.location.latitude
				// 	}
				// }
				// uni.chooseLocation({
				// 	...data,
				// 	success: function(res) {
				// 		console.log('位置名称：', res)
				// 		// that.currenAddress = res.name
				// 		if (!res.name && !res.address) {
				// 			this.$refs.uTips.show({
				// 				title: '请务必选择地址条目',
				// 				type: 'warning',
				// 				duration: '1000'
				// 			})
				// 			return;
				// 		}
				// 		// that.$store.commit('rent/auto_rentStartAddress',{longitude:res.longitude,latitude:res.latitude,Key:that.keyword})

				// 		that.$store.commit('rent/save_autoRentStartAddress', {
				// 			longitude: res.longitude,
				// 			latitude: res.latitude,
				// 			area_detail: `${res.name}-${res.address}`,

				// 		})
				// 	},
				// 	fail(err) {
				// 		console.log(err)
				// 	}
				// });
			},




			async submit() {
				if ( this.type==0 && this.checked && !this.autoRentStartAddress) {
					this.$refs.uTips.show({
						title: '请务必选择上门取车地址',
						type: 'warning',
						duration: '1000'
					})
					return;
				}
				if ( this.type==1 && this.checked && !this.autoRentEndAddress) {
					this.$refs.uTips.show({
						title: '请务必选择上门还车地址',
						type: 'warning',
						duration: '1000'
					})
					return;
				}
				if (!this.checked) {
					let dis = `rent/${this.type==0?'save_autoRentStartAddress':'save_autoRentEndAddress'}`
					this.$store.commit(dis, null)
				}

				if (!this.orderCode) {
					//新创建的订单
					this.$emit('success')
				} else {
					if (!this.checked) {
						this._hide()
						this.$emit('success');
						return
					}

					if(this.type==1){
						// 一键换车
						this.quickBackCars()
					}else{
						// 一键取车
						this.quickGetCars()
					}
					
				}

			},
			//一键还车
			async quickBackCars() {
				let that = this
			
				try {
					let data = {
						order_code: this.orderCode,
						// address_code: '',
						//   longitude: 119.2786,
						//   latitude: 26.0181,
						//   area_detail: '福建省福州市台江新村',
					}
					// debugger
					console.log(this.autoRentEndAddress)
					if (this.autoRentEndAddress && this.autoRentEndAddress.auto_get_address) {
						data.address_code = this.autoRentEndAddress.auto_get_address
						data.longitude = ''
						data.latitude = ''
						data.area_detail = ''
					} else if (this.autoRentEndAddress && !this.autoRentEndAddress.auto_get_address) {
						data.address_code = ''
						data.longitude = this.autoRentEndAddress.longitude
						data.latitude = this.autoRentEndAddress.latitude
						data.area_detail = this.autoRentEndAddress.area_detail
					} else {
						data.address_code = ''
						data.longitude = ''
						data.latitude = ''
						data.area_detail = ''
					}
					// debugger
					this.$ui.showloading()
					let res = await this.$api.Business.AutoStillCar(data)
					this.$ui.hideloading()
					uni.$emit('myTrips');
					this.$refs.uToast.show({
						title: '一键还车申请成功',
						type: 'success',
						position: 'bottom',
						callback() {
							// uni.navigateBack({ })
							that._hide()
							that.$store.commit('rent/save_autoRentEndAddress', null)
							that.$emit('success')
						}
					})
				} catch (e) {
					console.log(e)
					this.$ui.hideloading()
				}
			},
			
			//一键取车
			async quickGetCars() {
				let that = this

				try {
					let data = {
						order_code: this.orderCode,
						// address_code: '',
						//   longitude: 119.2786,
						//   latitude: 26.0181,
						//   area_detail: '福建省福州市台江新村',
					}
					// debugger
					console.log(this.autoRentStartAddress)
					if (this.autoRentStartAddress && this.autoRentStartAddress.auto_get_address) {
						data.address_code = this.autoRentStartAddress.auto_get_address
						data.longitude = ''
						data.latitude = ''
						data.area_detail = ''
					} else if (this.autoRentStartAddress && !this.autoRentStartAddress.auto_get_address) {
						data.address_code = ''
						data.longitude = this.autoRentStartAddress.longitude
						data.latitude = this.autoRentStartAddress.latitude
						data.area_detail = this.autoRentStartAddress.area_detail
					} else {
						data.address_code = ''
						data.longitude = ''
						data.latitude = ''
						data.area_detail = ''
					}
					// debugger
					this.$ui.showloading()
					let res = await this.$api.Business.AutoGetCar(data)
					this.$ui.hideloading()
					uni.$emit('myTrips');
					this.$refs.uToast.show({
						title: '一键取车申请成功',
						type: 'success',
						position: 'bottom',
						callback() {
							// uni.navigateBack({ })
							that._hide()
							that.$store.commit('rent/save_autoRentStartAddress', null)
							that.$emit('success')
						}
					})
				} catch (e) {
					console.log(e)
					this.$ui.hideloading()
				}
			},
			// 取车历史列表
			async _history() {
				// debugger
				try {
					const res = await this.$api.Business.GetAddressList({
						pageIndex: 1,
						pageSize: 20
					})
					this.list = res.map(item => {
						return {
							text: item.area_detail,
							value: item.address_code
						}
					})
					this.loading = false
					console.log(this.list)


				} catch (e) {
					console.log(e)
					//TODO handle the exception
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.payHeader {
		text-align: left;
		width: 100%;
		line-height: 80rpx;
		border-bottom: 1rpx solid #f1f1f1;
		padding: 0 30rpx;
	}

	.payContent {
		min-height: 300rpx;
		text-align: center;

		.price {
			font-size: 60rpx;
			font-weight: 600;
			color: #fb5a11;
			margin-bottom: 40rpx;

		}

		.active {
			color: #333;
			font-size: 32rpx;
		}
	}

	.line {
		width: 100%;
		height: 1rpx;
		background-color: #f8f8f8;
	}

	.formItems {
		margin-bottom: 20rpx;
		padding: 0 30rpx;

		.formLabal {
			line-height: 2;
			color: #888;
			margin-right: 20rpx;
		}

		.formContent {
			line-height: 1.2;
			padding: 26rpx 0;
			text-align: left;

			.title {
				font-size: 36rpx;
				color: #333;
				margin-right: 20rpx;
				font-weight: 600;
				width: 90%;
			}

		}

		.autoformContent {
			padding: 0 20rpx;
			border-radius: 10rpx;
			background: #fffdfa;
			border: 2rpx solid $uni-color-primary;
		}
	}

	.actionLocation {
		width: 90rpx;
		height: 90rpx;
		background: #fffbfb;
		margin-left: 10rpx;
		border-radius: 10rpx;
	}

	.actions {
		width: 98rpx;
		height: 98rpx;
	}

	.footer {
		width: 100%;
		padding-bottom: 40rpx;
		padding-top: 10rpx;
		border-top: 1rpx solid #f1f1f1;



		.icons {
			width: 36rpx;
			height: 36rpx;
		}
	}
</style>
