<template>
	<view class="carItems">
		<view class="u-flex" @click="nav">
			<image :src="item.site_logo" class="pics" mode="aspectFill"></image>
			<view class="f1">
				<view class="title">{{item.site_name}}</view>
				<view class="cm_text">{{item.site_address}}({{item.show_merchant_distance}}) </view>
				<!-- <view class="cm_text">
					{{item.site_mobile}}
				</view> -->
			</view>
		</view>
		<view class="carItemsFooter u-flex">
			<text class="">{{item.site_mobile}} </text>

			<view class="f1"></view>
			<text class="cm_text" style="color: #F0AD4E;" @click="call(item.site_mobile)">立即致电</text>
			<u-icon name="arrow-right" color="#F0AD4E" size="24"></u-icon>
		</view>
	</view>
</template>

<script>
	export default {
		name: "carItems",
		data() {
			return {

			};
		},
		props: {
			item: {
				type: Object,
				default: {}
			}
		},
		methods: {
			// 选中车型
			call(phone) {
				uni.makePhoneCall({
					phoneNumber:phone
				})
			},
			nav() {
				uni.navigateTo({
					url: '/pages/usedCars/beautifulCarDetail/beautifulCarDetail?id=' + this.item.site_code
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.carItems {
		padding: 20rpx;
		background-color: #fff;
		margin-bottom: 16rpx;
		border-radius: 12rpx;

		.pics {
			width: 210rpx;
			height: 118rpx;
			margin-right: 24rpx;
			background: #f1f1f1;
		}

		.title {
			font-weight: 600;
			line-height: 2;
			font-size: 32rpx;
		}
		.cm_text{
			line-height: 1.4;
		}
	}

	.carItemsFooter {
		padding-top: 16rpx;
		margin-top: 16rpx;
		border-top: 1rpx solid #f8f8f8;
	}
</style>
