<template>
	<view class="carItems" >
		<view class="u-flex" @click="nav">
			<image :src="item.car_main_img" class="pics" mode="aspectFill"></image>
			<view class="f1">
				<view class="title">{{item.car_name}}</view>
				<view class="cm_text">{{item.describe}} </view>
			</view>
		</view>
		<view class="carItemsFooter u-flex">
			<text class="cm_price_tip">{{item.price}} </text>

			<text class="cm_text"> / 天</text>
			<view class="f1"></view>
			<text class="cm_text" @click="nav">车辆详情</text>
			<u-icon name="arrow-right" color="#999" size="24"></u-icon>
		</view>
	</view>
</template>

<script>
	export default {
		name: "carItems",
		data() {
			return {

			};
		},
		props:{
			item:{
				type:Object,
				default:{}
			},
			from:{
				type:String,
				default:''
			}
		},
		methods:{
			// 选中车型
			chooseCar(){
				this.$store.commit('rent/saveRentCar',this.item);
				setTimeout(()=>{
					uni.navigateTo({
						url:'/pages/features/createOder/createOder'
					})
				},1000)
			},
			nav(){
				// if(this.from){
					
				// }else{
				// 	uni.navigateTo({
				// 		url:'/pages/features/carDetail/carDetail?id='+this.item.car_code
				// 	})
				// }
				console.log(`/pages/features/carDetail/carDetail?id=${this.item.car_code}&from=${this.from}`)
				uni.navigateTo({
					url:`/pages/features/carDetail/carDetail?id=${this.item.car_code}&from=${this.from}`
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.carItems {
		padding: 20rpx;
		background-color: #fff;
		margin-bottom: 16rpx;
		border-radius: 12rpx;

		.pics {
			width: 210rpx;
			height: 118rpx;
			margin-right: 24rpx;
			background: #f1f1f1;
		}

		.title {
			font-weight: 600;
			line-height: 2;
					font-size: 32rpx;
		}
	}

	.carItemsFooter {
		padding-top: 16rpx;
		margin-top: 16rpx;
		border-top: 1rpx solid #f8f8f8;
	}
</style>
