<template>
	<view>
		<u-popup v-model="show" mode="bottom" border-radius="14">
			<view class="payBox">
				<view class="payHeader">
					支付金额
				</view>
				<view class="payContent flex flex-y">
					<u-loading mode="circle" :size="40" v-if="active==-1"></u-loading>
					<view v-else>
						<view class=" price"> ￥{{active>0?active:price}}</view>
						<view v-if="active>0" class="active">首单优惠</view>
					</view>

				</view>

				<view class="payFooter">
					<view class="flex flex_center " style="height: 88rpx;">
						<button type="error" class="sbtn f1  plain " :plain="true" shape="circle" :loading="loading"
							@click="_cancel">取消支付</button>
						<button type="error" class="sbtn f1" shape="circle" @click="_submit">立即支付</button>
					</view>
				</view>
			</view>
		</u-popup>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		name: "wxpay",
		data() {
			return {
				show: false,
				active: -1
			};
		},
		props: {
			price: {
				type: Number,
				default: 0
			},
			order: {
				type: String,
				default: 0
			}
		},
		watch: {

			price(n, o) {
				// debugger
				if (n) {
					this.ifFirst();
				}
			}
		},
		created() {
			this.ifFirst()
		},
		methods: {
			_cancel(){
				this.show = false
				this.$emit('cancel',res)
			},
			_hide() {
				this.show = false
			},
			_show() {
				this.show = true
			},
			async _submit() {
				try {
					let data = {
						"pay_type": "9", ////1-支付宝 2-微信 3-CBB(建行支付)4- 商云客-小程序 5-商云客-公众号 9-测试
						"order_code": this.order, //订单号
						"install_num": "", //分期数
					}
					const res = await this.$api.Auth.toPayment(data)
					console.log(res)
					let  that  = this
					this.$refs.uToast.show({
						title: '支付成功',
						type: 'success',
						position: 'bottom',
						callback() {
							
							that.$emit('success',res)
							that._hide()
						}
					})
				} catch (e) {
					//TODO handle the exception
				}
			},
			async payNow() {

			},
			async ifFirst() {
				// debugger
				try {
					const res = await this.$api.Auth.IsFirstOrder()
					this.active = Number(res) 
					console.log(this.price)
				
				
				} catch (e) {
					//TODO handle the exception
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.payHeader {
		text-align: center;
		width: 100%;
		line-height: 80rpx;
		border-bottom: 1rpx solid #f1f1f1;
	}

	.payContent {
		min-height: 300rpx;
		text-align: center;

		.price {
			font-size: 60rpx;
			font-weight: 600;
			color: #fb5a11;
			margin-bottom: 40rpx;

		}

		.active {
			color: #333;
			font-size: 32rpx;
		}
	}

	.payFooter {
		width: 100%;
		padding-bottom: 40rpx;
		padding-top: 10rpx;
		border-top: 1rpx solid #f1f1f1;
	}

	.sbtn {
		// transform: scale(.8);
		height: 70upx;
		line-height: 70upx;
		margin: 0 20upx;
		border-radius: 35rpx;
		background-color: $uni-color-primary;
		color: #fff;
		text-align: center;
		font-size: 30rpx;
	}

	.plain {
		line-height: 68upx;
		background-color: #fff;
		color: $uni-color-primary;
		border: 1rpx solid $uni-color-primary;
	}
</style>
