<template>
	<view class="pages">
		<view class="header u-flex">
			<view class="f1"></view>
			<u-button  shape="circle" size="mini" @click="_href('/pages/center/taxHistory/taxHistory')"  type="primary">开票历史</u-button>
			<u-button  shape="circle" size="mini" style="margin-left: 16rpx;"  plain @click="address"   type="primary">地址管理</u-button>
		</view>
		<view class="content">
			<view class="cm_full u-flex-y" v-if="lists.length!=0 && loadStatus=='noMore'">
				<u-empty mode="order"></u-empty>
			</view>
			<view class="listBoxs" v-else>
				<block v-for="(item,index) in  [1,1,1,2,1,2,3]" :key="index">
					<view class="orderItemsBox u-flex" @click="_nav">
						<view class="left u-flex-y">
							<u-icon name="checkmark-circle-fill" color="#EE7F48" size="40"></u-icon>
							<u-icon name="checkmark-circle" color="#f1f1f1" size="40"></u-icon>
						</view>
						<view class="right f1">
							<view class="u-flex orderheader">
								<view class="">订单号：123123123</view>
								<view class="f1"> </view>
								<text class="cm_time">2020-1-2</text>
							</view>
							<view class="">
								<view class="cm_title ">参会上去啥的发送到发送到</view>	
								<text class="cm_time">12-23-2t</text>
							</view>
							<view class="address ">
								<view>参会上去啥的发送到发送到</view>	
							</view>
							 
							<view class="u-flex timeBox">
								<text class="title">03-16 10:12</text>
								<view class="line">2天</view>
								<text class="title">03-16 10:12</text>
								<view class="f1"></view>
							</view>
							<view class="u-flex orderfooter">
								<view class="f1"> 	</view>
								<view class="">可开票金额：</view>
								<view class="cm_price">￥2300</view>
							</view>
							<!-- <view class="orderFooter u-flex">
								<view class="f1"></view>
								<u-button shape="circle" class="btns" @click="_nav" size="mini" type="default">
									删除订单</u-button>
								<u-button shape="circle" class="btns" @click="_nav" size="mini" type="primary">
									再次预约</u-button>
							</view> -->
						
						</view>
						
					</view>
				</block>
			
				<view class="u-flex" style="height: 80rpx;">
					<u-loadmore :status="loadStatus" />
				</view>
			</view>
			
			
		</view>
		<view class="saveBottom footer ">
			<view class="u-flex footerContent">
				<view class="u-flex">
					<u-icon name="checkmark-circle-fill" color="#EE7F48" size="40"></u-icon>
					<text style="margin-left: 16rpx;">全选</text>
				</view>
				
				<view class="f1"></view>
				<text>合计：</text>
				<text class="cm_price_tip">140</text>
				<u-button  shape="circle" size="medium" @click="nav" style="margin-left: 16rpx;"  type="primary">下一步</u-button>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey:'GetTaxOrderList',
				onBottom: true,
				onTop: true,
				hasRow:'rows'
			};
		},
		onLoad(){
			this._loadData()
		},
		methods:{
			nav(){
				uni.navigateTo({
					url:'/pages/center/createTax/createTax'
				})
			},
			address(){
				let that = this
				uni.chooseAddress({
					success(res) {
						console.log(res)
						that.currentaAddress = res
					}
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages{
		position: relative;
		.header{
			padding: 16rpx 20rpx;
			background-color: #fff;
			position: sticky;
			left: 0;
			top:0;
			width: 100%;
		}
		.content{
			min-height: 100vh;
			.orderItemsBox{
				background-color: #fff;
				margin-bottom: 16rpx;
				padding: 0 30rpx 0 0;
				.left{
					padding:30rpx;
				}
				.right{
					.orderheader{
						height: 82rpx;
						line-height: 82rpx;
						border-bottom: 1rpx solid #f1f1f1;
						
					}	
					.cm_title{
						margin-bottom: 0;
						margin-top: 20rpx;
					}
					.address{
						margin-top: 16rpx;
					}
					.timeBox{
						margin-top: 20rpx;
					}
					.line{
						margin:0 20rpx;
						height: 40rpx;
						line-height: 40rpx;
						border-bottom: 1rpx solid  #999;;
						padding: 0 20rpx;
						font-size: 24rpx;
						color: #999;
					}
					.orderfooter{
						height: 80rpx;
						line-height: 80rpx;
						margin-top: 20rpx;
					}
				}
				
			}
		}
		.footer{
			
			background-color: #fff;
			position: sticky;
			left: 0;
			bottom:0;
			width: 100%;
			.footerContent{
				padding: 16rpx 20rpx;
			}
		}
	}
</style>
