<template>
	<view class="pages">
		
		<view class="boxs">
			<u-cell-group>
			 
				<view class="u-flex avatarBox" @click="update(0)" >
					<text >头像</text>
					<view class="f1"></view>
					<u-avatar :src="userInfo.consumer_head" :size="84"></u-avatar>
				</view>
				<u-cell-item title="昵称" @click="update(1)" arrow-direction="right" :value="userInfo.consumer_nick_name"  :border-bottom="true"></u-cell-item>
				<!-- <u-cell-item title="微信号" @click="update(2)" arrow-direction="right" :value="userInfo.weixin_account?userInfo.weixin_account:'未设置'" :border-bottom="true"></u-cell-item> -->
			</u-cell-group>
		</view>
		
		
		<view class="boxs">
			<u-cell-group>
	 
				<u-cell-item title="身份认证"   @click="_href('/pages/center/auth/auth?type=0')" arrow-direction="right" :value="userInfo.id_card_z?'已认证':'未认证'" :border-bottom="true" :value-style="{color:'#EE7F48'}"></u-cell-item>
				<u-cell-item title="驾照认证"   @click="_href('/pages/center/auth/auth?type=1')" :value-style="{color:'#EE7F48'}"   arrow-direction="right" :value="userInfo.driving_z?'已认证':'未认证'" :border-bottom="true"></u-cell-item>
			</u-cell-group>
		</view>

		<view class="boxs">
			<u-cell-group>
				<u-cell-item title="手机号" @click="_href('/pages/role/bunding/bunding')" arrow-direction="right" :value="userInfo.consumer_mobile"
				 :border-bottom="true"></u-cell-item> 
			<!-- 	<u-cell-item title="常用邮箱" @click="_href('/pages/role/payPassUpdated/payPassUpdated')" arrow-direction="right" :value="userInfo.is_password==1?'已设置':'未认证'"
				 :border-bottom="true" :value-style="{color:'#EE7F48'}"></u-cell-item> -->
				<u-cell-item title="常用邮箱" @click="update(4)" arrow-direction="right" :value="userInfo.is_email==1?'已绑定':'待完善'"  :border-bottom="true"></u-cell-item>
				 <u-cell-item title="紧急联系人"  @click="_href('/pages/center/auth/auth?type=2')"  :value-style="{color:'#EE7F48'}"   arrow-direction="right" :value="userInfo.urgent_name?userInfo.urgent_name:'未认证'" :border-bottom="true"></u-cell-item>
			</u-cell-group>
		</view>

		 

		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />

		<u-mask :show="show" @click="show = false">
			<view class="warp">
				<view class="rect u-flex-y" @click.stop>
					<view class="cm_title">{{currentMsg.title}}</view>
					<view class="cm_time" style="font-size: 24rpx;">{{currentMsg.content}}</view>
					<input placeholder="请输入内容" v-model="currentVuale" type="text" class="InputBox"  :border="false" />
					<u-button shape="circle" :custom-style="{width:'100%'}" @click="submit" size="medium" type="primary">立即修改</u-button>
					<view class="cm_time" style="font-size: 24rpx;">{{currentMsg.mark}}</view>
				</view>
			</view>
		</u-mask>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				src: 'https://cdn.uviewui.com/uview/swiper/3.jpg',
				show: false,
				value: '',
				checked: false,
				defaultForm: {
					"consumer_nick_name": "",
					"consumer_head": "",
					"alipay_account": "",
					"weixin_account": "",
					"consumer_mail":""
				},
				currentMsg: {
					title: '修改微信号',
					content: '请填写正确微信号',
					mark: '可在设置里修改微信号'
				},
				current: 0,
				currentVuale:''
			};
		},
		onLoad(){
			this.checked = uni.getStorageSync('onlyWifi')?true:false
		},
		methods: {
			_change(e){
				// console.log(e)
				uni.setStorageSync('onlyWifi',e)
			},
			update(k) {
				let that = this;
				this.current=k;
				this.currentVuale = ''
				switch (k) {
					case 0:
						// 头像
						this.chooseImg()
						break;
					case 1:
						// 昵称
						
						this.currentMsg = {
							title: '修改昵称',
							content: '请填写正确昵称',
							mark: '可在设置里修改昵称'
						}
						this.currentVuale = this.userInfo.consumer_nick_name
						this.show = true
						break;
					case 2:
					this.currentMsg = {
						title: '修改微信',
						content: '请填写正确的微信账号',
						mark: '可在设置里修改微信账号'
					}
					this.currentVuale = this.userInfo.weixin_account
					this.show = true
						break;
					case 3:
						break;
					case 4:
					this.currentMsg = {
						title: '邮箱绑定',
						content: '请填写正确的邮箱号码',
						mark: '请正确填写您的本人邮箱'
					}
					this.currentVuale = this.userInfo.consumer_mail
					this.show = true
						break;
					default:
						break;
				}
			},
			// 确认选择
			submit(){
				let  that = this;
				if(this.current==1 && !this.currentVuale){
					this.$refs.uToast.show({
						title: '请输入正确的昵称',
						type: 'error',
						position: 'bottom'
					})
					return;
				}
				if(this.current==2 && !this.currentVuale){
					this.$refs.uToast.show({
						title: '请输入正确的微信号码',
						type: 'error',
						position: 'bottom'
					})
					return;
				}
				if(this.current==4 && !this.currentVuale){
					this.$refs.uToast.show({
						title: '请输入正确的邮箱号',
						type: 'error',
						position: 'bottom'
					})
					return;
				}
				let obj = {} 
			 
				if(this.current==1){
					obj.consumer_nick_name = this.currentVuale
				}
				if(this.current==2){
					obj.weixin_account = this.currentVuale
				}
				if(this.current==4){
					obj.consumer_mail = this.currentVuale
				}
				// debugger
				this.updatedUser(obj) 
				this.show = false
			},
			loginOut() {
				this.$store.commit('userLoginOut');
				this.$refs.uToast.show({
					title: '您已安全退出',
					type: 'error',
					position: 'bottom',
					// back:true
				})
				this.$ui.showloading()
				setTimeout(() => {
					this.$ui.hideloading()
					uni.navigateBack({

					})
				}, 1000)
			},
			// 选择图片
			chooseImg() {
				let that = this
				uni.chooseImage({
					count: 1, //默认9
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					// sourceType: ['album'], //从相册选择
					success: function(res) {
						console.log(JSON.stringify(res.tempFilePaths));
						that._upload(res.tempFilePaths)
							.then((src) => {
								console.log(src);
								that.updatedUser({
									consumer_head: src
								})
							})
							.catch(err => {
								that.$refs.uToast.show({
									title: '上传失败' + err,
									type: 'error',
									position: 'bottom'
								})
							})
					}
				})
			},
			// 更新信息列表
			async updatedUser(obj) {
				let that = this
				let data = Object.assign(this.defaultForm, obj)
				// debugger
				try {
					that.$ui.showloading()
					let res = await this.$api.Auth.PerfectInfo(data);
					that.$ui.hideloading()
					that.$refs.uTips.show({
						title: '更新成功',
						type: 'success'
					})
					that.$store.dispatch('app/refreshUser')
				} catch (err) {
					console.log(err)
					that.$refs.uTips.show({
						title: err,
						type: 'error'
					})

				}
				// debugger
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.boxs {
			margin-bottom: 20rpx;
			background: #fff;
		}
			.avatarBox{
					border-bottom: 1rpx solid #f4f4f4;
					padding: 40rpx;
					background-color: #fffffc;
				}
		.warp {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			width: 100vw;
		}

		.rect {
			width: 460rpx;
			height: 460rpx;
			background-color: #fff;
			border-radius: 14rpx;
			padding: 40rpx;

			.InputBox {
				width: 100%;
				height: 72rpx;
				margin: 48rpx 0;
				background-color: #f4f4f4;
				border-radius: 12rpx;
				padding: 0 20rpx;
			}

			.cm_time {
				margin-top: 20rpx;
			}
		}
	}
</style>
