<template>
	<view class="pages">
		<u-cell-group>
			<u-cell-item title="发票金额" :value-style="{color:'#EE7F48'}" :arrow="false" :value="1400"
				:border-bottom="true">
			</u-cell-item>
			<u-cell-item title="发票图样" arrow-direction="right"></u-cell-item>
			<u-cell-item title="发票类型" :arrow="false">
				<view style="width: 380rpx;"  slot="right-icon">
					 
						<u-radio-group v-model="type" @change="radioGroupChange">
							<u-radio :name="0">电子发票</u-radio>
							<u-radio :name="1">纸质发票</u-radio>
						</u-radio-group>
					 
				</view>
				
			</u-cell-item>
		</u-cell-group>
		<view v-if="curentTitle" class="content" @click="getTaxTitle2">
			<u-cell-group title="发票信息">

				<u-cell-item title="发票类型" :value="curentTitle.type?'公司':'个人'"></u-cell-item>
				<u-cell-item title="发票抬头" :value="curentTitle.title"></u-cell-item>
				<u-cell-item title="纳税号码" :value="curentTitle.taxNumber"></u-cell-item>
				<u-cell-item title="注册地点" :value="curentTitle.companyAddress"></u-cell-item>
				<u-cell-item title="注册电话" :value="curentTitle.telephone"></u-cell-item>
				<u-cell-item title="开户银行" :value="curentTitle.bankName"></u-cell-item>
				<u-cell-item title="银行账号" :value="curentTitle.bankAccount"></u-cell-item>
			</u-cell-group>
		</view>
		<view v-if="type==1 && currentaAddress" class="content">
			<u-cell-group title="邮寄地址" @click="address">

				<u-cell-item title="收件人" :value="currentaAddress.userName"></u-cell-item>
				<u-cell-item title="联系方式" :value="currentaAddress.telNumber"></u-cell-item>
				<u-cell-item title="所在区域"
					:value="`${currentaAddress.provinceName}-${currentaAddress.cityName}-${currentaAddress.countyName}`">
				</u-cell-item>
				<u-cell-item title="收件地址" :value="currentaAddress.detailInfo"></u-cell-item>
				<u-cell-item title="邮编" :value="currentaAddress.postalCode"></u-cell-item>
				<!-- 	<u-cell-item title="开户银行" :value="curentTitle.bankName"></u-cell-item>
				<u-cell-item title="银行账号" :value="curentTitle.bankAccount"></u-cell-item> -->
			</u-cell-group>
		</view>
		<view class="u-padding-30" v-if="type==1">
			<u-button v-if="!curentTitle &&!currentaAddress" shape="circle" @click="getTaxTitle2" plain type="primary">
				下一步，选择发票信息</u-button>
			<u-button v-if="curentTitle &&!currentaAddress" style="margin-top: 16rpx;" plain shape="circle"
				@click="address" type="primary">下一步，选择邮寄地址</u-button>
			<u-button v-if="curentTitle && currentaAddress" style="margin-top: 16rpx;" shape="circle" @click="nav"
				type="primary">提交</u-button>
		</view>
		<view class="u-padding-30"  v-if="type==0">
			<u-button v-if="!curentTitle" shape="circle" @click="getTaxTitle2" plain type="primary">
				下一步，选择发票信息</u-button> 
			<u-button v-if="curentTitle " style="margin-top: 16rpx;" shape="circle" @click="nav"
				type="primary">提交</u-button>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				curentTitle: '',
				currentaAddress: '',
				type: 0
			};
		},
		onLoad() {
			// this.getTaxTitle2()
		},
		methods: {
			radioGroupChange(e) {
this.type = e
			},
			getTaxTitle() {
				wx.chooseInvoice({
					success(res) {
						console.log(res);
					},
					fail(err) {
						console.log(err);
					}
				})
				// uni.chooseInvoiceTitle({
				//     success(res) {
				//         console.log(res); 
				//   }
				// })
			},
			address() {
				let that = this
				uni.chooseAddress({
					success(res) {
						console.log(res)
						that.currentaAddress = res
					}
				})
			},
			getTaxTitle2() {
				let that = this
				uni.chooseInvoiceTitle({
					success(res) {
						console.log(res);
						that.curentTitle = res
					}
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.content {
		margin-top: 16rpx;
	}
</style>
