<template>
	<view class="pages">
		<u-notice-bar mode="horizontal" :is-circular="false" :list="list"></u-notice-bar>
		<view  >
			<view class="boxs">
				<u-form :model="form" ref="uForm" label-width="150">
					<!-- <u-field v-model="form.mobile" label="已绑号码" placeholder="请填写手机号">
					</u-field>
					<u-field v-model="form.valide" label="验证码" placeholder="请填写验证码">
						<u-button size="mini" slot="right" shape="circle" type="primary" @click="getCode">{{codeText}}</u-button>
					</u-field>
				
					<u-field v-model="form.pass" label="新密码" :password="true" type="" placeholder="请填写密码">
					</u-field>
					<u-field v-model="form.repass" label="确认密码" :password="true" placeholder="请填写密码">
					</u-field> -->
					<u-form-item label="已绑号码" prop="mobile">
						<u-input v-model="form.mobile" />
					</u-form-item>
					<u-form-item label="验证码" prop="valide">
						<u-input v-model="form.valide" />
						<view slot="right">
							<u-button size="mini" slot="right" shape="circle" type="primary" @click="getCode">{{codeText}}</u-button>
						</view>
					</u-form-item>
					<u-form-item label="新密码" prop="pass">
						<u-input v-model="form.pass" type="password"/>
					</u-form-item>
					<u-form-item label="确认密码" prop="repass" :border-bottom="false">
						<u-input v-model="form.repass" type="password" />
					</u-form-item>
				</u-form>
			</view>
			<u-verification-code ref="uCode" @change="codeChange"></u-verification-code>
		</view>
		<view style="margin-top: 72rpx;padding: 0 20rpx;">
			<u-button shape="circle" @click="submit" :custom-style="{width:'100%'}"   type="primary">立即绑定</u-button>
		</view>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				form: {
					mobile: '',
					valide: '',
					pass: '',
					repass: ''
				},
				mobile: '',
				code: '',
				codeText: '',
				list: ['为了您的账户安全，将对现有手机号码验证 '],
				rules: {
					mobile: [{
							required: true,
							message: '请输入电话',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							validator: (rule, value, callback) => {
								return this.$u.test.mobile(value);
							},
							message: '请输入正确的电话号码',
							trigger: ['blur'],
						}
					],
					valide: [{
						required: true,
						min: 6,
						max:6,
						message: '请输入6位验证码',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					pass: [{
							required: true,

							message: '请输入新密码',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							min: 6,
							message: '长度在6位以上',
							trigger: ['blur'],
						},
					],
					repass: [{
						required: true,
						validator: (rule, value, callback) => {
							return value == this.form.pass;
						},
						message: '两次密码不一致',
						trigger: ['blur'],
					}],
				}
			}
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);

		},
		methods: {
			submit() {
				this.$refs.uForm.validate(valid => {
					if (valid) {
						console.log('验证通过');
					} else {
						console.log('验证失败');
					}
				});
			},
			codeChange(text) {
				this.codeText = text;
			},
			getCode() {
				if (this.$refs.uCode.canGetCode) {
					// 模拟向后端请求验证码
					uni.showLoading({
						title: '正在获取验证码'
					})
					setTimeout(() => {
						uni.hideLoading();
						// 通知验证码组件内部开始倒计时
						this.$refs.uCode.start();
					}, 1000);
				} else {
					this.$u.toast('倒计时结束后再发送');
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.boxs {
			background-color: #fff;
			// border-radius: 12rpx;
			padding: 0 20rpx;
		}
	}
</style>
