<template>
	<view class="pages">
		<view class="header" :style="{top:pageFixTop}">
			<u-tabs :list="tabs" bg-color="#fff" active-color="#EC6633" bar-active-color="#EC6633" :is-scroll="false"
				:current="currentTab" @change="change"></u-tabs>
		</view>
		<view class="cm_full u-flex-y" v-if="lists.length<=0 ">
			<u-empty mode="order"></u-empty>
		</view>
		<view class="listBoxs" v-else>
			<block v-for="(item,index) in  lists" :key="index">
				<view class="orderItemsBox " @click="_nav(item)">
					<view class="u-flex orderheader">
						<view class="">订单号：{{item.order_code}}</view>
						<view class="f1"> </view>
						<text>{{ item.status | order_statusFilter }} </text>
					</view>
					<view class="u-flex carBox">
						<image :src="item.car_main_img" mode="aspectFill" class="cardPics"></image>
						<view class="f1 title">{{item.order_name}}</view>
						<view class="price">￥{{item.pay_price}}</view>
					</view>
					<view class="u-flex " style="margin-top: 10rpx;">
						<View class="icons qu">取</View>
						<view class="f1" style="text-align: left;"> {{item.get_car_add}}</view>
					</view>
					<view class="u-flex" style="margin-top: 10rpx;">
						<View class="icons huan">还</View>
						<view class="f1" style="text-align: left;"> {{item.still_car_add}}</view>
					</view>
					<view class="u-flex timeBox">
						<text class="title">{{item.begin_time}}</text>
						<view class="line">{{item.use_car_day}}天</view>
						<text class="title">{{item.end_time}}</text>
						<view class="f1"></view>
					</view>
					<view class="orderFooter u-flex">
						<view class="f1"></view>
						<u-button shape="circle" v-if="item.status == 9" class="btns" @click=" " size="mini"
							type="default">
							删除订单</u-button>
						<u-button shape="circle" v-if="item.status == 9" class="btns" @click="reCresteOrder" size="mini"
							type="primary">
							再次预约</u-button>


						<u-button shape="circle" v-if="item.status == 0" class="btns" @click=" " size="mini"
							type="default">
							取消订单</u-button>
						<u-button shape="circle" v-if="item.status == 0" class="btns" @click="nowOrder(item)" size="mini"
							type="primary">
							立即预约</u-button>

						<u-button shape="circle" v-if="item.status == 1" class="btns" @click=" " size="mini"
							type="default">
							取消预约</u-button>
						<u-button shape="circle" v-if="item.status == 1" class="btns" @click="getCar(item)" size="mini"
							type="primary">
							一键取车</u-button>


					<!-- 	<u-button shape="circle" v-if="item.status == 2" class="btns" @click="_call" size="mini"
							type="default">
							联系商家</u-button> -->
						<u-button shape="circle" v-if="item.status == 3" class="btns" @click="backCar(item)" size="mini"
							type="primary">
							一键还车</u-button>
					</view>
				</view>
			</block>

			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>
		</view>

		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
		<WxPay :price="currentOrder.pay_price" :order="currentOrder.order_code" @success="_loadData('refresh')" ref="wxPay"/>
		<AutoAddress :orderCode="currentOrder.order_code"  :rentStartAddress="currentOrder.get_car_add  || null"  :rentEndAddress="currentOrder.still_car_add || null"   @success="autoAddress"
			@cancel="cancel" ref="autoAddress" />
	</view>
</template>

<script>
	
	import WxPay from '@/components/wxpay.vue'
	import AutoAddress from '@/components/autoAddress.vue'
	import {
		mapState
	} from 'vuex'
	export default {
		data() {
			return {
				baseKey: 'GetOrderList',
				hasRow: 'rows',
				formParams: {
					"status": 0,
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				tabs: [{
						name: '全部'
					},
					{
						name: '待付款'
					}, {
						name: '待取车'
					},
					{
						name: '待还车'
					}, {
						name: '退单'
					}
				],
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: '',
				currentTab: 0,
				currentOrder:null
			};
		},
		components:{
			WxPay,
			AutoAddress
		},
		computed:{
			...mapState({
				// 箭头函数使代码更简练 
				// rentStartAddress: state => state.rent.rentStartAddress,
				// rentEndAddress: state => state.rent.rentEndAddress,
				location: state => state.rent.location, 
				autoRentStartAddress: state => state.rent.autoRentStartAddress, 
				
			})
		},
		filters: {
			time(val) {

				return val.split(' ')[0]
			},
			study(val) {
				// console.log(val)
				let s = parseInt(val);
				return s
			}
		},
		onLoad(options) {
			this._loadData('refresh')
			uni.$on('myTrips', (res) => {
				 this._loadData('refresh')
			})
		},
		onUnload(){
			uni.$off('myTrips')
		},
		
		methods: {
			autoAddress(){
				// this.$refs.autoAddress._hide()
				// this.quickGetCars()
				this.currentOrder = null
			},
			cancel(){
				this.$refs.autoAddress._hide()
			},
			
			
			// 支付当前 订单
			nowOrder(item){
				this.currentOrder = item
				this.$refs.wxPay._show()
			},
			// 一键还车
			backCar(item){
				// uni.navigateTo({
				// 	url: `/pages/center/getAndBack/getAndBack?type=1&order_code=${item.order_code}`
				// })
				this.currentOrder = item
				this.$refs.autoAddress._show(1)
			},
			// 一键取车 当前的订单
			getCar(item){
				// uni.navigateTo({
				// 	url: `/pages/center/getAndBack/getAndBack?type=0&order_code=${item.order_code}`
				// })
				this.currentOrder = item
				this.$refs.autoAddress._show()
				
			},
			reCresteOrder(){
				uni.navigateTo({
					url: '/pages/features/carsSelect/carsSelect'
				})
			},
			_nav(item) {
				uni.navigateTo({
					url: `/pages/center/tripsDetail/tripsDetail?order_code=${item.order_code}`
				})
			},
			change(index) {
				this.currentTab = index;
				this.formParams.status = index;
				this.formParams.pageIndex = 1;
				// this.lists = [];
				this._loadData('refresh')
			},

			async _agreeRefund(needEms) {
				// alert(needEms)
				let that = this;
				if (needEms && !this.ems_code) {
					this.$ui.toast('请输入物流单号')
					return;
				}
				this.refundModal = false
				try {
					// this.$ui.showloading();	
					let data = {
						order_code: this.currentCode
					}
					if (needEms) data.ems_code = this.ems_code
					let res = await this.$api.ApplyRefund(data, false);
					// this.$ui.hideloading();
					if (res.Success) {

						that.$ui.toast('退货申请成功')
						setTimeout(() => {
							// that._loadData('refresh');
							that._refresh()
						}, 1000)
					} else {
						that.$ui.toast(res.Msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			async _sure() {
				let that = this;
				try {
					// this.$ui.showloading();	
					let data = {
						order_code: this.currentCode
					}
					let res = await this.$api.Receiving(data, false);
					// this.$ui.hideloading();
					if (res.Success) {

						that.$ui.toast('收货成功')
						setTimeout(() => {
							that._refresh()
						}, 1000)
					} else {
						that.$ui.toast(res.Msg)
					}
					if (callback) callback();
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			async _cancel() {
				let that = this;
				try {
					// this.$ui.showloading();	
					let data = {
						order_code: this.currentCode
					}
					let res = await this.$api.CancelOrder(data, false);
					// this.$ui.hideloading();
					if (res.Success) {

						that.$ui.toast('取消成功')
						setTimeout(() => {
							// that._loadData('refresh');
							that._refresh()
						}, 1000)
					} else {
						that.$ui.toast(res.Msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding-top: 80rpx;

		.header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;
			z-index: 10;
		}

		.listBoxs {
			// padding: 32rpx;
			width: 100%;
			padding: 0 30rpx;

			.orderItemsBox {
				border-radius: 16rpx;
				background-color: #fff;
				padding: 30rpx;
				margin-top: 16rpx;

				.orderheader {
					border-bottom: 1rpx solid #f4f4f4;
					padding-bottom: 24rpx;
				}

				.carBox {
					padding: 32rpx 0;

					.cardPics {
						width: 168rpx;
						height: 96rpx;
						margin-right: 24rpx;
						background: #f8f8f8;
					}

					.price {
						font-size: 34rpx;
						color: #EE7F48;
					}
				}

				.icons {
					width: 28rpx;
					height: 28rpx;
					border-radius: 4rpx;
					color: #fff;
					line-height: 28rpx;
					text-align: center;
					margin-right: 16rpx;
					font-size: 20rpx;
				}

				.qu {
					background-color: #EE7C33;
				}

				.huan {
					background-color: #55B7B7;
				}

				.text {
					line-height: 40rpx;
				}

				.timeBox {
					// padding: 40rpx 0;
					height: 100rpx;

					.title {
						color: #333;
						font-size: 28rpx;
						font-weight: 600;
					}

					.line {
						margin: 0 20rpx;
						height: 40rpx;
						line-height: 40rpx;
						border-bottom: 1rpx solid #999;
						;
						padding: 0 20rpx;
						font-size: 24rpx;
						color: #999;
					}
				}

				.orderFooter {
					margin-top: 20rpx;

					.btns {
						margin-left: 16rpx;
					}
				}
			}

			// background-color: #fff;

			// margin-top: 20rpx;

		}
	}
</style>
