<template>
	<view class="pages">
		<view class="cm_boxs">
			<view class="cm_title">上传车辆图片</view>
			<view class=" picsBox u-flex">
				<view class="picsItems u-flex-y">
					<image v-if="detail.before_img" class="filtBox" :src="detail.before_img"
						@click="preview(detail.before_img,base_img)" mode="aspectFit"></image>
					<view v-else class="blankBox u-flex-y" @click="readyUpload('before_img')">
						<u-icon name="plus" color="#999" size="60"></u-icon>
					</view>
					<text>车头图片</text>
				</view>
				<view class="picsItems u-flex-y">
					<image v-if="detail.back_img" class="filtBox" :src="detail.back_img"
						@click="preview(detail.back_img,base_img)" mode="aspectFit"></image>
					<view v-else class="blankBox u-flex-y" @click="readyUpload('back_img')">
						<u-icon name="plus" color="#999" size="60"></u-icon>
					</view>
					<text>车尾图片</text>
				</view>
				<view class="picsItems u-flex-y">
					<image v-if="detail.left_img" class="filtBox" :src="detail.left_img"
						@click="preview(detail.left_img,base_img)" mode="aspectFit"></image>
					<view v-else class="blankBox u-flex-y" @click="readyUpload('left_img')">
						<u-icon name="plus" color="#999" size="60"></u-icon>
					</view>
					<text>左侧图片</text>
				</view>
				<view class="picsItems u-flex-y">
					<image v-if="detail.right_img" class="filtBox" :src="detail.right_img"
						@click="preview(detail.left_img,base_img)" mode="aspectFit"></image>
					<view v-else class="blankBox u-flex-y" @click="readyUpload('left_img')">
						<u-icon name="plus" color="#999" size="60"></u-icon>
					</view>
					<text>右侧图片</text>
				</view>
			</view>
		</view>
		<view class="cm_boxs">

			<view class="cm_title">租车信息</view>
			<view class="carItems u-flex">
				<image :src="detail.car_main_img" class="pics" mode="aspectFill"></image>
				<view class="f1">
					<view class="title">{{detail.describe}}</view>
					<view class="cm_text">{{detail.use_car_day}}</view>
				</view>
			</view>
			<view class="grayBoxs">
				<view class="u-flex">
					<text class="labels">客户姓名</text>
					<view class="f1">
						{{detail.consumer_name}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">联系方式</text>
					<view class="f1">
						{{detail.consumer_mobile}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">租车费用</text>
					<view class="f1">
						{{detail.lease_price}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">车辆押金</text>
					<view class="f1">
						{{detail.deposit_price}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">支付金额</text>
					<view class="f1">
						{{detail.pay_price}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">下单时间</text>
					<view class="f1">
						{{detail.create_time}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">车牌号</text>
					<view class="f1">
						{{detail.car_number}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">车辆识别号</text>
					<view class="f1">
						{{detail.vehicle_number}}
					</view>
				</view>
				<view style="width: 100%;height: 30rpx;"> </view>
				<view class="u-flex">
					<text class="labels">发动机号</text>
					<view class="f1">
						{{detail.engine_number}}
					</view>
				</view>
			</view>
		</view>

		<view class="cm_boxs" v-if="interior_img.length>0">
			<view class="cm_title">汽车内饰</view>
			<view class=" picsBox u-flex">
				<view class="picsItems u-flex-y" v-for="(item,index) in interior_img" :key="index">
					<image :src="item" class="filtBox" mode="aspectFit" @click="preview(item,interior_img)"></image>
				</view>
				<view class="picsItems u-flex-y">
					<!-- <image :src="detail.mileage_img" class="blankBox"  mode="aspectFit"></image> -->
				</view>
			</view>
		</view>
		<view class="cm_boxs" v-if="detail.mileage_img">
			<view class="cm_title">汽车公里数</view>
			<view class=" picsBox u-flex">
				<view class="picsItems u-flex-y">
					<image :src="detail.mileage_img" class="filtBox" mode="aspectFit"
						@click="preview(detail.mileage_img,base_img)"></image>
				</view>
				<view class="picsItems u-flex-y">
					<!-- <image :src="detail.mileage_img" class="blankBox"  mode="aspectFit"></image> -->
				</view>
			</view>
		</view>
		<!-- <view class="footer saveBottom">
			<view class="flex footerBar">
				<u-button shape="circle" class="btns cm_block" @click="_nav" type="primary">
					保存</u-button>
			</view>
		</view> -->


	</view>
</template>

<script>
	export default {
		data() {
			return {
				order_code: '',
				check_type: '0',
				detail: null,
				interior_img: [],
				base_img: [],
				form: {}
			};
		},
		onLoad(options) {
			this.order_code = options.order_code
			this.check_type = options.check_type
			// debugger
			if (this.check_type == 1) {
				uni.setNavigationBarTitle({
					title: '取车验车单'
				})
			} else {
				uni.setNavigationBarTitle({
					title: '还车验车单'
				})
			}
			this.loadData()
		},
		methods: {

			readyUpload(pro) {
				let that = this
				uni.chooseImage({
					count: 1, //默认9
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					// sourceType: ['album'], //从相册选择
					success: function(res) {
						// console.log(JSON.stringify(res.tempFilePaths));
						that._upload(res.tempFilePaths)
							.then((src) => {
								// debugger
								that.form[pro] = src
							})
							.catch(err => {
								that.$refs.uToast.show({
									title: '上传失败' + err,
									type: 'error',
									position: 'bottom'
								})
							})
					}
				})
			},
			preview(current, urls = []) {
				// debugger
				if (urls.length && urls.indexOf(current) >= 0) {
					let index = urls.indexOf(current)
					uni.previewImage({
						urls: urls,
						current: index,
					});
				}

			},

			async loadData() {
				// debugger
				this.$ui.showloading()
				try {

					const res = await this.$api.Business.GetCheckDetails({
						order_code: this.order_code,
						check_type: this.check_type,
					})
					// debugger
					console.log(res)
					this.detail = res
					if (res.interior_img) {
						let str = res.interior_img.replace(/\'/g, '\"')
						// debugger
						this.interior_img = JSON.parse(str).map(x => x.src)
						let base_img = []
						if (res.before_img) {
							base_img.push(res.before_img)
						}
						if (res.back_img) {
							base_img.push(res.back_img)
						}
						if (res.left_img) {
							base_img.push(res.left_img)
						}
						if (res.right_img) {
							base_img.push(res.right_img)
						}
						if (res.mileage_img) {
							base_img.push(res.mileage_img)
						}
						this.base_img = base_img
					}

				} catch (e) {
					//TODO handle the exception
					console.log(e)
					// debugger
				}
				this.$ui.hideloading()
			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 180rpx;

		.carItems {
			// padding: 20rpx;
			background-color: #fff;
			margin-bottom: 16rpx;
			border-radius: 12rpx;

			.pics {
				width: 210rpx;
				height: 118rpx;
				margin-right: 24rpx;
				background: #f1f1f1;
			}

			.title {
				font-weight: 600;
				line-height: 2;
				font-size: 32rpx;
				margin-bottom: 0;
			}
		}

		.grayBoxs {
			margin-top: 32rpx;
			background-color: #f5f5f5;
			padding: 30rpx;
			border-radius: 12rpx;
			font-size: 26rpx;

			.labels {
				color: #666;
				width: 164rpx;
				text-align: left;
			}
		}

		.picsBox {
			flex-wrap: wrap;
			justify-content: space-around;

			// padding: 0 20rpx;
			.picsItems {
				width: 330rpx;
				margin-bottom: 16rpx;


			}

			.filtBox {
				width: 330rpx;
				height: 190rpx;
				margin-bottom: 16rpx;
				background-color: #fdfdfd;
			}

			.blankBox {
				width: 330rpx;
				height: 190rpx;
				border: 1rpx dashed #666;
				margin-bottom: 16rpx;
			}
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #fff;

			.footerBar {
				padding: 16rpx 20rpx;
			}

			.btns {
				margin-left: 16rpx;
			}
		}
	}
</style>
