<template>
	<view class="pages">
		 
		<view class="statusBox ">
			{{detail.status | rules_statusFilter}} 
		</view>
		
		
		<view class="cm_boxs orderBox">
		
			<view class="cm_title">违章信息</view>
		
			<view class="rows u-flex  ">
				<view class="label">违章车辆</view>
				<view class="f1">{{detail.car_number}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">违章时间</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.penalty_time}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">违章行为</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.penalty_name}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">违章地点</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.penalty_add}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">执法大队</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.penalty_unit}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
		</view>
 
		 <view class="cm_boxs orderBox">
		 
		 	<view class="cm_title">违章处罚</view>
		 
		 	<view class="rows u-flex  ">
		 		<view class="label">扣分情况</view>
		 				 		<view class="f1"><text style="color:#EE7F48 ;">{{detail.points_num}}</text>分</view>
		 		<!-- <view class="label">￥320</view> -->
		 	</view>
		 	<view class="rows u-flex  ">
		 		<view class="label">罚款金额</view>
		 		<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
		 		<view class="f1"><text style="color:#EE7F48 ;">{{detail.fine_money}}</text>元</view>
		 		<!-- <view class="label">￥320</view> -->
		 	</view> 
		 </view>
		  
		<view class="cm_boxs">
			<view class="cm_title">违章图片</view>
			<view class=" picsBox u-flex">
				<view class="picsItems u-flex-y" v-for="(item,index) in banner" :key="index" >
					<image :src="item.src" class="blankBox" mode="aspectFill" @click="preview(item.src)"></image>
					<!-- <view class="blankBox u-flex-y">
						
						 <u-icon name="plus" color="#999" size="60"></u-icon> 
					</view> -->
				</view>
				 
				<view class="f1"></view>
				<!-- <view class="picsItems u-flex-y">
					<view class="blankBox u-flex-y">
						 <u-icon name="plus" color="#999" size="60"></u-icon> 
					</view>
					<text>右侧图片</text>
				</view> -->
			</view>
		</view>
		<view class="footer saveBottom" v-if="detail.status !=1">
			<view class="flex footerBar">
				<view class="">扣<text style="color: #EE7F48;">{{detail.points_num}}</text>分</view>
				<view style="margin-left: 30rpx;">罚款<text style="color: #EE7F48;">{{detail.fine_money}}</text>元</view>
				<view class="f1"></view> 
				<u-button shape="circle" class="btns" @click="submit" type="primary">
					立即处理</u-button>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				penalty_code:'',
				detail:{},
				banner:[]
			};
		},
		onLoad(options){
			this.penalty_code = options.id || ''
			
		},
		onShow(){
			this.loadData(this.penalty_code)
		},
		methods: {
			preview(current, ) {
				// debugger
				let urls = this.banner.map(it=>it.src)
				// debugger
				if (urls.length && urls.indexOf(current) >= 0) {
					let index = urls.indexOf(current)
					uni.previewImage({
						urls: urls,
						current: index,
					});
				}
			
			},
			async loadData(id){
				// debugger
					this.$ui.showloading()
					try{
						
						const res  = await this.$api.Business.GetRulesDetail({penalty_code:id})
						// debugger
						this.detail = res
						// debugger
						let str = res.penalty_img.replace(/\'/g,'\"')
						// debugger
						this.banner = JSON.parse(str)  
					}catch(e){
						//TODO handle the exception
						console.log(e)
						// debugger
					}
					this.$ui.hideloading()
			},
			submit() {
				uni.navigateTo({
					url:`/pages/center/violationDeal/violationDeal?id=${this.penalty_code}`
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 180rpx;


		.tabsBox {
			justify-content: space-around;
			background-color: #fff;
			padding: 24rpx 20rpx;

			.tabs {
				width: 162rpx;
				height: 110rpx;
				border-radius: 8rpx;
				background-color: #f1f2f3;
				line-height: 110rpx;
				text-align: center;

			}
		}

		.statusBox {
			width: 100%;
			height: 76rpx;
			line-height: 76rpx;
			color:  #EE7F48;
			padding: 0 30rpx;
			background-color:#FFEDE2;
			align-items: flex-start;
			text-align: center;
			.title {
				color: #fff;
				margin-bottom: 12rpx;
				font-size: 34rpx;
			}
		}



		.grayBoxs {
			margin-top: 32rpx;
			background-color: #f5f5f5;
			padding: 30rpx;
			border-radius: 12rpx;
			font-size: 26rpx;

			.labels {
				color: #666;
				width: 164rpx;
				text-align: left;
			}
		}

		.carPics {
			width: 252rpx;
			height: 142rpx;
			margin-right: 42rpx;
		}
		.feeBox {
			// flex-wrap: wrap;
		
			.label{
				color: #666;
				width: 200rpx;
				text-align: left;
			}
			.labelright{
				
					color: #666;
			}
		}
		.orderBox {
			// flex-wrap: wrap;

			.label{
				color: #666;
				width: 164rpx;
				text-align: left;
			}
		}

		.icons {
			width: 46rpx;
			height: 46rpx;
			margin-right: 16rpx;
		}

		.rows {
			line-height: 80rpx;
		}

		.rowsBot {
			border-top: 1rpx solid #f8f8f8;
			padding-top: 16rpx;
			margin-top: 16rpx
		}

		.label {
			font-weight: 400;
			font-size: 26rpx;
			color: #333;
		}
		.picsBox{
			flex-wrap: wrap;
			justify-content: space-between;
			// padding: 0 20rpx;
			.picsItems{
				width: 340rpx;
				margin-bottom: 16rpx;
				.blankBox{
					width: 330rpx;
					height: 252rpx;
					// border: 1rpx dashed #666;
					// margin-bottom: 16rpx;
				}
			}
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #fff;
			.footerBar{
				padding: 16rpx  20rpx;
			}
			.btns {
				margin-left: 16rpx;
			}
		}
	}
</style>
